<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <a class="navbar-brand" href="/">🥅 ARC Score ⚽</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarARC" aria-controls="navbarARC" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarARC">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ranking">Ranking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/historial">Historial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/registrar">Registrar Partido</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reglas">Reglas</a>
      </li>
    </ul>
  </div>
</nav>